<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.homingos.sdk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".browser.BrowserActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>